---
layout: default
---
<head>
	<style>
		h1{
		  text-align: center;
		  margin-bottom: 80px;
		}
    section{
			display: flex;
			width: 1240px
			margin: 10px;
			margin-bottom: 80px;
			justify-content: center;
		}
			id{
				margin: 10px 0 0 50px;
			}


		span{
			font-size: 24px;
			}
	</style>
</head>
<div class="container">

	<div class="row">
		<!-- begin page -->
		<article class="page col col-8 col-t-10 col-m-12">
			<div class="page__content">

				{{ content }}




			</div>
		</article>
		<!-- end page -->
	</div>
	<h1>SSCメンバー紹介</h1>
	<section>
		<p><img src="/ssc/images/SakiShimada.png" alt="image" width="200px" height="200px"></p>

		<id><span><strong>島田 紗希</strong></span>(Saki Shimada)<br>
		<small>Sound Design / Sound Production Assistant</small><br>
      <br>
			<strong>趣味          :</strong>食べること、散歩、お茶<br>
			<strong>好きな食べ物    :</strong>明太子、お菓子<br>
			<strong>好きなゲーム    :</strong>ゼルダの伝説シリーズ、ペルソナ4<br>
			<strong>意気込み（一言) :</strong>みなさんの楽しい♪やいいな♪を増やせていけたら嬉しいです！&emsp;<br>
			</id>
	</section>

	<section>
		<p><img src="/ssc/images/ShotaKarasawa.png" alt="image" width="200px" height="200px"></p>

		<id><span><strong>唐澤 将太</strong></span>(Shota Karasawa)<br>
		<small>Audio / Audio Administrator</small><br>
      <br>
			<strong>趣味          :</strong>食べ歩き飲み歩き<br>
			<strong>好きな食べ物    :</strong>ハヤシライス<br>
			<strong>好きなゲーム    :</strong>OW2 PSO2 アークザラット 3<br>
			<strong>意気込み（一言) :</strong>みなさんに笑顔を届けたいです！&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
			</id>
	</section>

	<section>
		<p><img src="/ssc/images/SaoriNakamura.png" alt="image" width="200px" height="200px"></p>

		<id><span><strong>中村 早織</strong></span>(Saori Nakamura)<br>
		<small>Music / Composer</small><br>
			<br>
			<strong>趣味          :</strong>スノボ、映画やアニメ鑑賞<br>
			<strong>好きな食べ物    :</strong>手巻き寿司、春巻き<br>
			<strong>好きなゲーム    :</strong>グラブル、どこでもいっしょシリーズ<br>
			<strong>意気込み（一言) :</strong>明るく楽しく部内を盛り上げていきます！&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
			</id>
	</section>

	<section>
		<p><img src="/ssc/images/KakiTakeuchi.png" alt="image" width="200px" height="200px"></p>

		<id><span><strong>竹内 果希</strong></span>(Kaki Takeuchi)<br>
		<small>Sound Design / Creative Planner</small><br>
			<br>
			<strong>趣味          :</strong>ネイル、コスプレ<br>
			<strong>好きな食べ物    :</strong>甘いもの、ラーメン<br>
			<strong>好きなゲーム    :</strong>ポケモンとドラクエ<br>
			<strong>意気込み（一言) :</strong>目指せ！社内で一番楽しい部署！！&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
			</id>
	</section>

	<section>
		<p><img src="/ssc/images/YukiMakino.png" alt="image" width="200px" height="200px"></p>

		<id><span><strong>牧野 由紀</strong></span>(Yuki Makino)<br>
		<small>Audio / Audio Administrator</small><br>
			<br>
			<strong>趣味          :</strong>インドア派、ねこ<br>
			<strong>好きな食べ物    :</strong>カレー、ねこ<br>
			<strong>好きなゲーム    :</strong>ファークライ4、アサクリシリーズ<br>
			<strong>意気込み（一言) :</strong>みなさんと仲良くお話できるようなサウンド部にするぞー！！！<br>
			</id>
	</section>

	<section>
		<p><img src="/ssc/images/KanIrei.png" alt="image" width="200px" height="200px"></p>

		<id><span><strong>伊禮 完</strong></span>(Kan Irei)<br>
		<small>Sound Design / Sound Production Assistant</small><br>
			<br>
			<strong>趣味          :</strong>お酒を浴びる<br>
			<strong>好きな食べ物    :</strong>たまご<br>
			<strong>好きなゲーム    :</strong>ARK モンハンシリーズ モンスターファーム<br>
			<strong>意気込み（一言) :</strong>おもしろ企画をバンバン実現させたいです！&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
			</id>
	</section>
	  <p class="back-arrow"><i class="ion ion-md-arrow-back"></i> <a href="{{site.baseurl}}/">Back to home</a></p>
</div>
